.Rproj.user
.Rhistory
.RData
.Ruserdata
course-project.Rproj
/data/
dataset.zip
unit_test.Rmd
train_dataset.Rmd
test_dataset.Rmd
project_01.Rmd
unit_test.nb.html
test_dataset.nb.html
test_dataset.html
test_dataset.md
CodeBook.html
CodeBook.nb.html
CodeBook.Rmd
CodeBook.pdf
file458c2d355408.aux
file458c2d355408.dvi
sm.tex
sandbox.Rmd
sandbox.nb.html
somecode
run_analysis.bak.R
run_analysis_1735.R
